.leads {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leads_header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leads_options {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.leads_email {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leads_email input {
    padding: 5px;
    width: 90%;
}

.leads_email textarea {
    margin-top: 15px;
    resize: vertical;
    width: 90%;
    height: 300px;
    padding: 5px;
}

.leads_alert {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.leads_popup {
    width: 415px;
    height: 130px;
    background-color: white;
}