.overview {
    width: 100%;
}

.overview header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.overview section {
    text-align: left;
    padding-left: 50px;
}

.overview ol {
    height: 500px;
    overflow-y: scroll;
    background-color: rgb(235, 235, 235);
}

.overview li {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    padding: 10px 0;
}

.overview textarea {
    width: 100%;
    resize: vertical;
    min-height: 30px;
    height: fit-content;
}

.overview_list_header_subject {
    font-weight: bold;
}

.overview_list_header_message {
    width: 100% !important;
    font-weight: bold;
}

.overview_list_header_status {
    font-weight: bold;
}

.overview_list_header_user {
    font-weight: bold;
}

.overview li p {
    font-size: 14px;
    width: 130px;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    margin: 0;
}

.overview li p:first-child {
    width: 250px;
}

.overview_status[name="positive"] {
    color: rgb(0, 187, 0);
}

.overview_status[name="neutral"] {
    color: rgb(228, 169, 8);
}

.overview_status[name="not a lead"] {
    color: rgb(216, 9, 9);
}

.overview_alert {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview_popup {
    width: 150px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}